/*  your css code here. If applicable */

body{
	 margin-top:25%;
	 background-color:#a164df;	
}
.container{
	  width:100%;
	  display:flex;
	 align-items:center;
	 justify-content:space-evenly;
}
.btn{
	 height:40px;
	 width:10%;
	 color:white;
	 background-color:#663399;
	 border:none; 
	 border-radius:5px;
	 overflow:hidden;
	 
}
.stop{
	height:40px;
	 width:10%;
	 color:white;
	 background-color:#663399;
	 border:none; 
	 border-radius:5px;
	 overflow:hidden;
}
